/*Header*/
nav{
  font-family: Helvetica;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header{
  background-color: rgba(174, 214, 241, 0.3);
  color: white;
  padding-top: 10px;
  min-height: 50px;
  border-bottom: #4909B2 3px solid;
  position: absolute;
  z-index: 99;
  width: 100%;
}

header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

header li{
  float: left;
  display: inline;
  padding-right: 10%;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}
header a:hover{
  color: white;
  font-weight: bold;
}

/* index page image */
#headpic{
  font-family: verdana;
  color: #fff;
}
#headpic img{
  width: 100%;
  height: 80vh;
}
.container {
  text-align: center;
  height: 525px;
  margin-top: 0%;
}
.contact{
  padding-top: 0px;
  margin-top: -425px;
  margin-right: 10%;
  margin-left: 5%;
}

/* Commentaries */
#comm{
  background-color: #C8ADC0;
  text-align: center;
}
#comm h2{
  background-color: #EDD3C4;
}
#comm h3{
  padding-left: 10%;
  padding-right: 10%;
}

/* About us */
#about{
  background-color: #C8ADC0;
  text-align: center;
}
#about h2{
  background-color: #EDD3C4;
}
#about h3{
  padding-left: 10%;
  padding-right: 10%;
}

/* Public Speaking */
#public-speaking{
  background-color: #C8ADC0;
  text-align: center;
}
#public-speaking h2{
  background-color: #EDD3C4;
}
#public-speaking h3{
  padding-left: 10%;
  padding-right: 10%;
}

/* Contact Us */
#contactus{
  background-color: #C8ADC0;
  text-align: center;
}
#contactus h2{
  background-color: #EDD3C4;
}
#contactus h3{
  padding-left: 10%;
  padding-right: 10%;
}
/*footer*/
footer{
  background-color: #C8ADC0;
  padding-top: 10px;
  min-height: 60px;
  border-top: #4909B2 3px solid;
  width: 100%;
}
footer p{
  text-align: center;
  margin-right: 20px;
}
/*lock footer at bottom*/
#footer{
  position: absolute;
  bottom: 0;
}